<h2>Alpha 0.1.6 Update Notes</h2>

<p>Hey there everybody, I am particularly enthusiastic for this Alpha version, 0.1.6, because it represents the completion of the work I had scope to accomplish before inviting Beta phase testers to join active testing! Version 0.1.6 focuses largely on solidifying some core systems, closing some open bugs, improving stability where possible, and adding some additional features to the auto-updating process.</p>

<p>This build will be the version shared with Beta phase testers later this week. I wanted to go ahead and release it early for the Alpha population to collect some preliminary feedback and resolve any uncaught bugs before sharing with the Beta community. For more details on the beta testing process please read https://www.patreon.com/posts/24469236.</p>

<p>Thank you all for your continued help, enthusiasm, feedback, and support. Please keep an eye on the development progress board here for visibility into what features are in progress and coming up next!</p>
<p><a href="https://gitlab.com/foundrynet/foundryvtt/boards" target="_blank" title="FVTT Story Board">https://gitlab.com/foundrynet/foundryvtt/boards</a></p>
<hr/>

<h3>Download Instructions</h3>

<p>This represents the first FVTT build which can be updated using the auto-updater functionality. To use the updater, visit the Settings tab of the sidebar (the question-mark icon) and click on "Check for Update". The update key used to unlock the upload version will be shared with Alpha tier testers in a separate post. If you are a Patreon supporter at the $10 or greater level, please review the download instructions here: <a href="https://www.patreon.com/posts/24553068" target="_blank" title="Alpha Supporter Download Links">https://www.patreon.com/posts/24553068</a></p>
<hr/>

<h3>New Features</h3>
<ul>
	<li>Add an End User License Agreement (EULA) which must be agreed by purchasers and authorized testers prior to setting up World. Test of the current license may also be reviewed <a href="http://foundryvtt.com/license.html" title="FVTT EULA" target="_blank">HERE</a>.</li>
	<li>Extended the auto-updater functionality that was added in update 0.1.5 to support "hotfix" type updates which are quicker to install and more lightweight. This will allow me, in the future, to patch the software more rapidly.</li>
	<li>Expanded support for "undo" functionality to all canvas placeable layers, and record a history of actions on a per-layer basis up to 10 changes. CTRL+Z will now work for walls, light sources, ambient sounds, tokens, and measured templates - allowing the GM to undo any changes which were inadvertently made.
	<li>Added a new Scene configuration setting which allows for visibility to not be restricted by Token vision or lighting systems. This can be ideal for simple maps, game boards, or world maps where sophisticated vision control is not required.</li>
	<li>In an attempt to reduce confusion for new GMs and players, show a warning banner message if a player joins a scene in which vision is restricted and they do not have an active character token with vision.</li>
	<li>Extended access to Measured Template controls. Players with the TRUSTED permission level can now place AoE templates directly onto the Scene.</li>
	<li>Compendium packs will now remember their scrolled position when being filtered or when the content is added or removed. This provides a quality of life improvement when adding or deleting content from an existing compendium pack.</li>
	<li>Improve some elements of the pop-out window rendering logic to dynamically cause inner content to feature vertical scrolling in the event that it overflows the available screen area.</li>
	<li>Added player-specific volume override controls for actively playing Audio Playlists. When a GM user adjusts track volume it will apply for all players, but players can then adjust the volume level to be louder or quieter as suits their own preferences and local audio environment.</li>
	<li>Improved the Playlist shuffle behavior, beginning playback of the entire playlist set of tracks once again after each track has been shuffled and played once.</li>
	<li>Playlists themselves can now be edited using a simple configuration sheet. This allows Playlists to be renamed or have their playback mode changed using a form-based UI.</li>
	<li>Audio playlists may now be collapsed to economize on screen space. Click on the name of the playlist to toggle it's collapsed status.</li>
</ul>
<hr/>

<h3>Bug Fixes</h3>
<ul>
	<li>Resolved an issue which prevented token visibility from being correctly updated upon token movement, resulting on tokens that were not visible in the field-of-view of a token still remaining visible on the map.</li>
	<li>Fixed a bug which prevented the combat turn order audio cue from playing for players.</li>
	<li>Closed a loophole which allowed Players to mark a compendium pack as Private, an ability which is now only available to GM users.</li>
	<li>Fixed a bug which resulted in owned Item updates improperly calling the Item.update method.</li>
	<li>The first created Scene will automatically receive the Active status (as previously intended).</li>
	<li>Revisied and improved the logic used to strip potentially malicious HTML tags from chat message text. The method included in the 0.1.5 update introduced a fatal error for node.js servers.</li>
</ul>
<hr/>

<h3>Core Software, APIs, and Module Development</h3>
<ul>
	<li>The button options defined for Dialog applications can now take a <code>condition</code> attribute which provides a logical test for whether the button is visible to the user for whom the dialog is rendered.</li>
	<li>The Combat class (featured as <code>game.combat</code>) has been refactored to transact <code>Promise</code> objects for methods which manipulate the turn order.</li>
	<li>Standardized the handling of web autoplay policy detection to encompass both Playlists and Ambient Audio sources.</li>
</ul>
<hr/>

<h3>D&D5e Game System Improvements</h3>
<ul>
	<li>Added functionality to the Long Rest button on the 5e character sheet. A long rest will restore the character's hit points, half their available hit dice, primary or secondary resources which recharge on long rest (LR), and spell slots per day.</li>
	<li>Added functionality to the Short Rest button on the 5e character sheet. A short rest presents a pop-up dialog which allows for rolling Hit Dice that restore hit points. Short Rests will also recover primary or secondary resources which are recovered on short rest (SR).</li>
	<li>Fixed a bug with tool proficiencies which were presenting specialized proficiency levels (Jack of All Trades, Expertise) from applying the correct Proficiency modifier to rolled tool checks.</li>
	<li>Improved the wording of chat cards for healing spells to use the word "healing" where it previously said "damage".</li>
	<li>Fixed a bug which prevented spells from being un-prepared.</li>
	<li>Corrected a bug which prevented Skill Checks from being rolled in Firefox.</li>
	<li>Added many additional spell entries to the SRD Spells compendium, completing spell set up through letter "M". Only about 1/3 of the spells still to go!</li>
</ul>
<hr/>
